In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#series =vector array (1d) ..she is (indexed)
#index can be any caractars not nessasary numbers
s=pd.Series(np.arange(4), index=['a','b','c','d'])
print(s)
s.index

a    0
b    1
c    2
d    3
dtype: int32

Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
dic={'mm':1, 'mon':3}
s1=pd.Series(dic)
print(s1)

mm     1
mon    3
dtype: int64

In [5]:
s2=pd.Series(dic ,index=['mm', 'mon', 'c', 'd'])
print(s2)
s2[0]
s[s>1]
s['b']
s['a']

mm     1.0
mon    3.0
c      NaN
d      NaN
dtype: float64

0

In [6]:
s=pd.Series(np.array([1,2,3]))
s1=pd.Series(np.array([1,2,3]))
print(s+s1)
print(s*s1)
print(s/s1)

0    2
1    4
2    6
dtype: int32
0    1
1    4
2    9
dtype: int32
0    1.0
1    1.0
2    1.0
dtype: float64

In [7]:
d=pd.Series([1,2,3,4,5])
c=pd.Series([1,2,3,4,5] ,index=[])

print(d)
print(d[1:])
print(d[:-1])
print(d[1:]+d[:-1])
print(d+c)

ValueError: Wrong number of items passed 5, placement implies 0

In [ ]:
#data frame using dictionary
d={'ones':pd.Series([1,2,3], index=['a','b','c']) 
  ,'tows':pd.Series([5,4,6], index=['a','b','c'])  }
df=pd.DataFrame(d)
print(df)
df.max()
df.mean()
df.describe()

In [14]:
d2=[{'ones':1,'tows':2},{'ones':3,'tows':4} ]
df=pd.DataFrame(d2 ,index=['first','second'])
print(df)
df['ones'] #series col
df.ones #samw
df.iloc[1] #series row
df.loc['first'] #series row
df[1:2] #df rows

        ones  tows
first      1     2
second     3     4

        ones  tows
second     3     4

In [ ]:
del df['ones'] #colums only 
#same df.pop('')

In [ ]:
print (df)

In [130]:
#exel file get it path
grads=pd.read_csv('sample.csv', index_col='student', skipinitialspace=True )
print(grads)
grads.index
grads.columns
#grad['exam'] #col
grads.loc['c'] #كل درجات الطالب c rows
grads[' b':' d']
grads.loc['b':' d']
grads.head(2)
grads.tail(2)
grads=grads.fillna(0)

         hw 1  hw 2  hw 3  hw 4  exam
student
A        10.0   9.0    10     7    97
B         8.0   7.0     9     9    82
C         NaN   9.0     6     5    75
D         8.0   9.0     9     9    90
E         NaN  10.0    10    10    95
F         8.0   2.0     6     7    66
G         6.0   NaN     4     5    60
H         8.0   8.0     9     8    84
I        10.0   7.0    10    10    92
J        10.0   6.0     9     9    91
K         8.0   7.0     6     8    87
L         3.0   8.0     5     7    71
M         9.0   9.0     8     9    94
N         8.0  10.0     9     9    90
O        10.0  10.0    10     9    99
P         8.0   9.0     8    10    94
Q         5.0   7.0     6     5    78

KeyError: 'the label [c] is not in the [index]'

In [132]:
grads.sort_values(by="exam",ascending=False, kind='mergesort')

         hw 1  hw 2  hw 3  hw 4  exam
student
O        10.0  10.0    10     9    99
A        10.0   9.0    10     7    97
E         NaN  10.0    10    10    95
M         9.0   9.0     8     9    94
P         8.0   9.0     8    10    94
I        10.0   7.0    10    10    92
J        10.0   6.0     9     9    91
D         8.0   9.0     9     9    90
N         8.0  10.0     9     9    90
K         8.0   7.0     6     8    87
H         8.0   8.0     9     8    84
B         8.0   7.0     9     9    82
Q         5.0   7.0     6     5    78
C         NaN   9.0     6     5    75
L         3.0   8.0     5     7    71
F         8.0   2.0     6     7    66
G         6.0   NaN     4     5    60

In [128]:
grads

         hw 1  hw 2  hw 3  hw 4  exam
student
A        10.0   9.0    10     7    97
B         8.0   7.0     9     9    82
C         NaN   9.0     6     5    75
D         8.0   9.0     9     9    90
E         NaN  10.0    10    10    95
F         8.0   2.0     6     7    66
G         6.0   NaN     4     5    60
H         8.0   8.0     9     8    84
I        10.0   7.0    10    10    92
J        10.0   6.0     9     9    91
K         8.0   7.0     6     8    87
L         3.0   8.0     5     7    71
M         9.0   9.0     8     9    94
N         8.0  10.0     9     9    90
O        10.0  10.0    10     9    99
P         8.0   9.0     8    10    94
Q         5.0   7.0     6     5    78